.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Calendar {
  position: absolute;
  top: 220px; /* 값이 커질수록 달력이 밑으로 감*/
  right: 800px; /*값이 커질수록 달력이 왼쪽으로감*/
  background-color: white; /* 달력 백그라운드컬러*/
}

.Clock {
  position: absolute;
  top: 100px; /* 값이 커질수록 달력이 밑으로 감*/
  /*값이 커질수록  왼쪽으로감*/
  font-size: 20px;
  left: 1400px; 
  /*border:solid 1px;
  background-color: #61dafb;*/
}

.Grid {
  position: absolute;
  top: 300px; /* 값이 커질수록 달력이 밑으로 감*/
  right: 17px; /*값이 커질수록  왼쪽으로감*/
}

.SearchButton {
  position: absolute;
  top: 220px; /* 값이 커질수록 밑으로 감*/
  right: 640px; /*값이 커질수록  왼쪽으로감*/
}

.AllRegisterButton {
  position: absolute;
  top: 220px; /* 값이 커질수록 밑으로 감*/
  right: 350px; /*값이 커질수록  왼쪽으로감*/
}

.AllCancelButton {
  position: absolute;
  top: 220px; /* 값이 커질수록 밑으로 감*/
  right: 180px; /*값이 커질수록  왼쪽으로감*/
}
.head {
  position: absolute;
  top: 100px; /* 값이 커질수록 달력이 밑으로 감*/
  right: 750px; /*값이 커질수록  왼쪽으로감*/
  font-size: 45px;
}
.SearchAllButton {
  position: absolute;
  top: 82px; /* 값이 커질수록 달력이 밑으로 감*/
  right: 795px; /*값이 커질수록  왼쪽으로감*/
  font-size: 45px;
}

.CalendarAll {
  position: absolute;
  top: 90px; /* 값이 커질수록 달력이 밑으로 감*/
  right: 1150px; /*값이 커질수록  왼쪽으로감*/
  font-size: 45px;
}

.CalendarAll1 {
  position: absolute;
  top: 90px; /* 값이 커질수록 달력이 밑으로 감*/
  right: 950px; /*값이 커질수록  왼쪽으로감*/
  font-size: 45px;
}

.nameSearch {
  position: absolute;
  top: 220px; /* 값이 커질수록 달력이 밑으로 감*/
  right: 1000px; /*값이 커질수록  왼쪽으로감*/
  font-size: 45px;
}

.box {
  margin-top: 8px;
}
